// MV changed height and width of logo
.navbar-branding {
  &__logo {

    display: block;
    height: 40px;
    width: 40px;
    margin-right: 4px;
    margin-left: 4px;

    img,
    svg,
    .navbar-branding__logo-image {
      display: block;
    }
  }

  &__title {
    padding-right: 24px;
    line-height: 1;
    font-weight: $font-weight-h5;
    font-family: $font-family-heading;
  }

  &__title a {
    font-size: $font-size-h5; //gm - bigger font
  }

  &__slogan {
    margin-left: 12px;
    margin-right: 12px;
    font-size: $font-size-text-small;
  }
}
